@page
@{
    ViewBag.ScriptPath = "startScreen.js";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<div class="flex-grow-1"></div>
<h1 class="edgy-font title-color">Phone Party</h1>
<button class="input-field-1" onclick="createLobby()">Создать лобби</button>
<button onclick="joinLobby()">Подключиться к лобби</button>
<input type="text" id="userNameInput" placeholder="Введите имя пользователя" />
<input type="text" id="lobbyIdInput" placeholder="Введите номер лобби" />
<div id="status"></div>