@page
@{
    ViewBag.ScriptPath = "startScreen.js";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h1>Добро пожаловать в Лобби</h1>
<button onclick="createLobby()">Создать лобби</button>
<button onclick="joinLobby()">Подключиться к лобби</button>
<input type="text" id="userNameInput" placeholder="Введите имя пользователя" />
<input type="text" id="lobbyIdInput" placeholder="Введите номер лобби" />
<div id="status"></div>