@page "/Lobby"
@model PhoneParty.Pages.LobbyModel
@{
    ViewData["Title"] = "Лобби";
    ViewBag.ScriptPath = "lobby.js";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h1>Лобби ID: @Model.LobbyId</h1>
<button onclick="leaveLobby()">Выйти из лобби</button>
<ul id="userList"></ul>