@page "/Lobby"
@model PhoneParty.Pages.LobbyModel
@{
    ViewData["Title"] = "Лобби";
    ViewBag.ScriptPath = "lobby.js";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<div class="flex-grow-1"></div>
<div class="flex-grow-1"></div>
<h1 class="lobby-code-label">@Model.LobbyId</h1>
<h1 class="pelmeshka-font text-center lobby-code-under-label">код</h1>

<div class="d-flex justify-content-start gap-3 d-none" id="hostLine">
        <img src="svg/Star 1.svg" alt="Описание изображения">
        <p class="player-nick-lobby" id="username"></p>
    </div>
<div class="d-flex justify-content-start gap-3 d-none" id="guestLine">
    <img src="svg/Arrow 7.svg" alt="Описание изображения">
    <p class="player-nick-lobby" id="username"></p>
</div>

<div class="d-flex flex-column player-list" id="userList">
    
</div>

<div class="align-items-center d-flex flex-column">
    <div class="lobby-button lobby-button-green d-flex visually-hidden" id="hostButton" onclick="startGame()"  role="button">
        <img src="svg/Arrow 8.svg" class="lobby-button-svg" alt="Описание изображения">
        <p class="lobby-button-label">Начать</p>
    </div>
    <div class="lobby-button lobby-button-red d-flex" onclick="leaveLobby()" role="button">
        <img src="svg/Arrow 9.svg" class="lobby-button-svg" alt="Описание изображения">
        <p class="lobby-button-label">Выйти</p>
    </div>
</div>
@* <button class="rounded-button-1" id="hostButton" onclick="startGame()" style="display: none;">Начать игру</button> *@
@* <button class="rounded-button-1" onclick="leaveLobby()">Выйти из лобби</button> *@