@page "/game"
@model PhoneParty.Pages.whoAmIGameScreeen

@{
    ViewData["Title"] = "Кто Я?";
    ViewBag.ScriptPath = "game.js";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="visually-hidden"  id="guess-screen">
        <h2>Угадай какой ты персонаж</h2>
    </div>
    <div class="visually-hidden"  id="view-screen">
        <h2>Загаданный персонаж:</h2>
        <div class="flex-grow-1"></div>
        <h4 id="characterName">Benya Salin</h4>
        <img id="characterImage" src="">
    </div>
    <div class="visually-hidden"  id="judge-screen">
        <h4>Угадал персонажа?</h4>
        <div class="d-flex justify-content-center">
            <button id="rightGuessButton" type="button" class="btn btn-primary">ДА</button>
            <div class="flex-grow-1"></div>
            <button id="wrongGuessButton" type="button" class="btn btn-primary">НЕТ</button>
        </div>
    </div>
</div>